replicaCount: 1
image:
  repository: yasminkloub1994/udaconnect-connections
  tag: latest
  pullPolicy: Always
service:
  type: ClusterIP
  port: 5003
imagePullSecrets: []

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

env:
  DATABASE_URL: postgresql://udaconnect:udaconnect@postgres:5432/udaconnect
